.addCity__container {
  display: flex;
  margin-bottom: 20px;
}

.addCity__main {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.addCity__input {
  width: 300px;
  margin-bottom: 10px;
}

.addCity__city {
  margin-bottom: 10px;
}

.addCity__title {
  font-family: 'Open Sans', sans-serif;
}

.addCity__cities-container {
  display: flex;
  flex-wrap: wrap;
}