.container {
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-top: 100px;
}

.input {
  width: 300px;
}

.city {
  color: #fff;
}